/* Estilos generales */
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url(./font/Fontspring-DEMO-proximanova-bold.otf);
    font-weight: bold;
    font-style: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #000;
    scroll-behavior: smooth;
}

/* Estilos header Navbar */

.header {
    background-color: #111;
    width: 100%;
    height: 100px;
    color: #fff;
    font-family: 'Proxima Nova Bold';
    font-size: 1.3rem;
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 4;
    top: 0;
}

.logos-header {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 0 0 25px;
}

.logo-riot-header {
    width: 100px;
    height: 95px;
    margin: 0 25px;
    fill: #fff;
}

.logo-riot-header:hover {
    cursor: pointer;
    fill: #f00;
    transition: all 0.5s ease;
}

.logo-valorant-header {
    width: 30px;
    height: 50px;
    margin: 0 25px;
    fill: #fff;
}

.logo-valorant-header:hover {
    cursor: pointer;
    fill: #f00;
    transition: all 0.5s ease;
}

.list-menu {
    width: 50%;
}

.list-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a:hover {
    cursor: pointer;
    color: #f00;
    transition: all 0.5s ease;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Estilos Cover con titulo de la pagina y gif*/
.cover {
    width: 100%;
    height: 60vh;
    margin-top: 100px;
}

.cover-gif {
    position: absolute;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-overlay {
    width: 100%;
    height: 60vh;
    position: absolute;
    z-index: 1;
    opacity: .7;
    overflow: hidden;
}

.cover-content {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover-content p {
    font-size: 1rem;
    margin: 0;
    font-family: 'Proxima Nova Bold';
    color: #fff;
    text-shadow: #000 2px 1px;
}

.cover-content img {
    width: 60%;
    margin: 0;
    filter: drop-shadow(#000 4px 2px);
}

/* Estilos seccion agentes */

.agent-section {
    background-color: #fff;
    min-width: 100%;
    font-family: 'Proxima Nova Bold';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

h2 {
    font-family: 'Proxima Nova Bold';
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

.agent-container {
    width: 90%;
    display: grid;
    grid-auto-rows: 17rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0.8rem;
    justify-items: center;
}

.card-agent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: #000 5px 5px;
    border: solid #000 1px;
    width: 30vh;
    height: fit-content;
    margin: 0 1rem;
}

.card-agent-img {
    border-radius: 1rem;
    width: 100%;
    height: auto;
    padding: 0 0.5rem;
}

.card-agent-img img {
    width: 10vw;
}

.card-agent-name {
    margin: auto;
    text-transform: uppercase;
}

.card-agent:hover {
    cursor: pointer;
    background-color: #f00;
    color: #fff;
    box-shadow: #000 -2px 1px;
    transform: scale(1.05);
    transition: ease 0.3s;
}

/* Estilos seccion de mapas */

.map-section {
    background-color: #111;
    width: 100%;
    font-family: 'Proxima Nova Bold';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 2rem;
    color: #fff;
}

.map-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    justify-items: center;
}

.card-map {
    color: #000;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
}

.card-map:hover {
    transform: scale(1.05);
    transition: ease 0.3s;
}

.card-map-name {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.card-map-img {
    border-radius: 1rem;
    width: 100%;
    height: auto;
}

.card-map img {
    width: 80%;
    height: auto;
}

/* Estilos seccion de armas */

.arsenal-section {
    background-color: #fff;
    width: 100%;
    font-family: 'Proxima Nova Bold';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 2rem;
    color: #111;
}

.arsenal-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.card-arsenal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: #000 5px 5px;
    border: solid #000 1px;
    width: 300px;
    height: fit-content;
}

.card-arsenal:hover {
    transform: scale(1.05);
    transition: ease 0.3s;
}

.card-arsenal-img {
    width: fit-content;
    height: 10vh;
    padding: 1rem;
}

/* Estilos seccion footer */

footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

/* Estilos boton de menu lateral para movil */

.movil-menu-button {
    bottom: 5%;
    right: 13%;
    z-index: 4;
    background-color: #111;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    visibility: hidden;
    position: fixed;
}

/* Estilos del Modal */

.modal {
    position: fixed;
    z-index: 4;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000085;
    display: none;
}

.cerrar {
    position: fixed;
    width: 3rem;
    right: 0;
    margin: 1rem;
    cursor: pointer;
}

.cerrar polygon {
    fill: #fff;
}

.cerrar:hover {
    transform: scale(1.1);
}

.container-modal {
    position: fixed;
    background: #fff;
    width: 90%;
    height: 90%;
    right: 5%;
    top: 7%;
    border-radius: 2rem;
    margin: .5rem;
    box-shadow: #000 3px 5px 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.modal-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.modal-parrafo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.modal-habilidades {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #111;
    color: #fff;
    border-radius: 1rem;
}

.habilidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.habilidad img {
    width: 7vw;
    height: auto;
}

.modal-img {
    background: #000;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 2rem 2rem 0;
}

.modal-img img {
    height: 90vh;
    filter: drop-shadow(1px 4px 8px rgba(0, 0, 0, 1));
}

.modal-info-map {
    width: 100%;
    height: auto;
}

.modal-img-map {
    width: 100%;
}

.modal-img-map img{
    width: 100vh;
}



/* Estilos responsivos */
@media only screen and (max-width:1120px) {
    .arsenal-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.5rem;
    }

    .habilidad {
        font-size: .7rem;
    }
}

@media only screen and (max-width:950px) {
    .header {
        width: 35%;
        height: 100%;
        right: 0;
        transition: right 0.5s ease;
    }

    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logos-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        margin: 0;
        height: 50%;
    }

    .list-menu {
        height: 50%;
    }

    .list-menu ul {
        flex-direction: column;
    }

    .list-menu ul li {
        margin: 1rem 0;
    }

    .cover {
        margin-top: 0;
    }

    .map-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.5rem;
    }

    .movil-menu-button {
        visibility: unset;
    }

    .active {
        right: -100%;
    }

    .habilidad {
        font-size: .5rem;
    }
}

@media only screen and (max-width:830px) {
    .cover-gif {
        align-items: unset;
    }

    .container-modal {
        flex-direction: column;
        height: 90%;
        overflow-y: scroll;
    }

    .modal-info {
        width: 100%;
        height: unset;
    }

    .modal-img {
        width: 100%;
        border-radius: 0;
    }

    .habilidad {
        font-size: 1rem;
    }

    .habilidad img {
        width: 10vw;
    }

    .modal-habilidades {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media only screen and (max-width:500px) {
    .container-modal {
        overflow-x: hidden;
    }

    .modal-parrafo {
        font-size: 1rem;
    }

    .modal-img {
        width: 100%;
        height: unset;
    }

    .modal-img img {
        width: 100vw;
        height: auto;
    }

    .habilidad img {
        width: 5vh;
    }
}